body {
  margin: 20px;
  color: #560bad;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-weight: bold;
}

ol, ul {
  padding-left: 30px;
  font-family: 'Courier New', Courier, monospace
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: rgb(245,230,232);
  border: 2px dashed rgb(127, 150, 255);
  float: left;
  font-size: 80px;
  font-family: "Brush Script MT", "Brush Script Std", cursive;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: #414073;
}

.kbd-navigation .square:focus {
  background: rgb(85, 221, 224);
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.jumpButton{
  color:deeppink;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: underline overline;
}